*{
   padding: 0;
   margin: 0;
   text-decoration: none;
}
body{
    font-family: sans-serif;
}
label.logo{
    color: black;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav li:hover{
    background-color: darkgray;
}
