body{
    font-family: 'Luxurious Roman', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
    color: rgb(87, 83, 83);
}
section {
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 12%;
}
.half-width img{
    width: 100%;
    padding-left: 90%;
}
.link-button{
    text-decoration: none;
    background-color: hotpink;
    padding: 2px 40px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
}
section logo{
    background-color: floralwhite;
    height: 200px;
    padding-left: 120px;
    padding-right: 120px;
}
#logo1 img{
    display: flex;
    width: 70%;
    padding-left: 80px;
}
#logo2 img{
    display: flex;
    width: 50%;
    padding-left: 80px;
}
#logo3 img{
    display: flex;
    width: 50%;
    padding-left: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.h{
    width: 80%;
    height: 3px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 90px;
    background-color: dimgrey;
}
.h1{
    width: 80%;
    height: 3px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: dimgrey;
}