body{
    font-family: 'Luxurious Roman', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
    color: rgb(87, 83, 83);
}
section {
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 12%;
}
.half-width img{
    width: 100%;
    padding-left: 90%;
}
.link-button{
    text-decoration: none;
    background-color: hotpink;
    padding: 2px 40px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
}